* {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: hsl(36, 100%, 99%);
}

.full-page {
  max-width: 75vw;
  // min-height: 90vh;
  margin: auto;
  margin-top: 3em;

  @media screen and (max-width: 600px) {
    max-width: 90vw;
  }
}